* {
    margin: 0;
}

.center-of-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    height: 20rem;
    border: black solid 2px;
}


